<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= "ようこそ#{@user.name}さん" %>
        <%="現在時刻は" %><br>
        <%="#{Time.zone.now}です"%>
        <%= button_to "出勤", url: intime_path, controller: "worktimes",action: "new"%>
        <%= button_to "退勤", url: outtime_path, controller: "worktimes",action: "update"%>
      </h1>
    </section>
  </aside>
</div>