<% provide(:title, '月別勤務一覧') %>
<h1>月別勤務一覧</h1>
<%="指定された年月の勤務記録はありません" if @works.empty? %>


<table border="5">
  <tr>
    <th>勤務日</th>
    <th>出勤時間</th>
    <th>退勤時間</th>
    <th>勤務時間</th>
  </tr>
  <% @works.each do |work| %>
    <tr>
      <td><%= work.in_time.strftime("%Y年%m月%d日") %></td>
      <td><%= work.in_time.strftime("%I:%M %p") %></td>
      <td><%= work.out_time.present? ? work.out_time.strftime("%I:%M %p") : work.out_time %></td>
      <td><%= work.out_time.present? ? Time.at(work.out_time - work.in_time).utc.strftime('%X') : "退勤してください"%></td>
    </tr>
  <% end %>
  </table>